<mat-toolbar class="boutique-toolbar" color="primary">
  <span class="brand">
    <mat-icon>storefront</mat-icon>
    Kiprop Boutique
  </span>

  <span class="spacer"></span>

  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-button routerLink="/products" routerLinkActive="active">
    <mat-icon>view_list</mat-icon>
    Products
  </button>
  <button mat-button routerLink="/contact" routerLinkActive="active">
    <mat-icon>mail</mat-icon>
    Contact
  </button>
</mat-toolbar>