<div class="boutique-sidenav">
  <div class="sidebar-header">
    <mat-icon class="logo-icon">storefront</mat-icon>
    <span class="brand-name">Kiprop Boutique</span>
  </div>
  <mat-nav-list>
    <a mat-list-item routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </a>
    <a mat-list-item routerLink="/products" routerLinkActive="active-link">
      <mat-icon>view_list</mat-icon>
      <span>Products</span>
    </a>
    <a mat-list-item routerLink="/contact" routerLinkActive="active-link">
      <mat-icon>mail</mat-icon>
      <span>Contact</span>
    </a>
  </mat-nav-list>
</div>